@font-face {
    font-family: 'TuskerGrotesk';
    src: url('../../assets/TuskerGrotesk-2500Medium.otf') format('opentype');
  }
@font-face {
  font-family: 'Durk';
  src: url('../../assets/Druk Wide Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Caviar';
  src: url('../../assets/CaviarDreams.ttf') format('truetype');
}


.about-me{
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    .content-main{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
          .title{
              width: 17.2rem;
              font-family: 'TuskerGrotesk',Helvetica, Arial, sans-serif;
              letter-spacing: 2px;
              text-transform: uppercase;
              background: url('https://i.pinimg.com/736x/c3/34/a6/c334a6ba59e56515b64460805d1acb53--texture-design-texture-art.jpg') no-repeat;
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
              animation: moveBg 30s linear infinite;
              -webkit-animation: moveBg 30s linear infinite;
              font-size: 6rem;
              line-height: 7rem;
              position: relative;

              .line{
                  line-height: 0.7rem;
                  letter-spacing: 0;
                  text-align: right;
                  position: absolute;
                  width: 100%;
                  height: 1rem;
                  background-color: black;
                  color: white;
                  bottom: 0.1rem;
                  left: 0rem;
                  font-family: 'Durk',Helvetica, Arial, sans-serif;
                  font-size: 0.7rem;
              }
          }
          .description{
            // display: block;
            font-family: 'Caviar',sans-serif;
            text-indent: 40px;
            height: 16rem;
            width: 20.2rem;
            font-size: 1.5rem;
            line-height: 1.5rem;
            padding: 1rem 0;
          }
      }
      .graphic{
        border: 1px solid red;
        width: 50%;
        height: 30rem;
        margin: 0 auto;
      }
    }
    @keyframes moveBg{
        0% {
          background-position: 0% 30%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
    .atras{
        position: relative;
    }
}


@media screen and (max-width: 800px) {
  .about-me{
    height: auto;
    .content-main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .info{
        margin-top: 2rem;
          .title{
            margin-left: 0;
          }
          .description{
            margin-left: 0;
            width: 18rem;
          }
      }
      .graphic{
        width: 90%;
        margin: 2rem auto;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .about-me{
    height: auto;
    .content-main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .info{
        margin-top: 2rem;
          .title{
            margin-left: 0;
          }
          .description{
            margin-left: 0;
            width: 18rem;
          }
      }
      .graphic{
        width: 90%;
        margin: 2rem auto;
      }
    }
  }
}
