footer {
    width: 100%;
    position: relative;
    bottom: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .info {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .controlers {
            cursor: pointer;
            font-size: 12px;
            .on {
                display: inline;
                &.show {
                    display: none;
              }
            }
            .off {
                display: none;
                &.show {
                    display: inline;
              }
            }
          }
        .network {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-direction: row;
          gap: 10px;
          a {
            font-size: 18px;
            color: white;
          }
        }
      }
  }

  footer.absolute{
    position: fixed;
    bottom: 2rem;
  }


  @media screen and (max-width: 800px) {
    footer{
      bottom: 1rem;
      padding: 1rem 0;
    }
    footer.absolute{
      bottom: 0;
    }
  }